screenshot/
build/
mg-autoinstall/.gradle/
mg-agent-driver/screenshot/
.gradle/
mg-agent-driver/task/
.idea
download/
.DS_Store
mg-agent-driver/node_modules/
node_modules/*
*.iml
logs/
target/
log-stash-conf/
log-stash-conf-backup/
